{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">


    {% if user %}
        <h1>Hi {{ user.first_name }}&nbsp;{{ user.last_name }}</h1>
        <h2>Your id is: {{ user.id }}</h2>
        <h2>Your username is: {{ user.username }}</h2>
        <h2>Your birthday is: {{ user.birthday }}</h2>
        <h2>Your email is: {{ user.email }}</h2>
        <h2>You registered on:  {{ user.registered_on }} </h2>
    {% endif %}

{% if not user %}
    Hello Stranger :)
{% endif %}

  
</div>
{% endblock %}
